
 body {
    color: #526066;
    margin: auto;
    text-align: center;
}
main {
    width: 1170px;
    color: #526066;
    margin: auto;
    text-align: center;
}

.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu-link {
    padding: 2px;
}
.pure-menu-list .pure-menu-item {
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}
.titulo {
    font-size: 25px;
}

.m {
    text-align: right;
    padding: 80px 0;
}
.m .pure-menu-item .pure-menu-link {
    color: white;
    font-size: 14px;
    padding: 18px 0;
    background-color:rgba(0, 0, 0, 0);
}
.m .pure-menu-item .pure-menu-link:hover {
    background-color:rgba(0, 0, 0, 0);
}
.m .pure-menu-heading {
    color: white;
    font-size: 22px;
}
.f {
    text-align: left;
    padding: 80px 0;
}
.f .pure-menu-item .pure-menu-link {
    color: white;
    font-size: 14px;
    padding: 18px 0;
    background-color:rgba(0, 0, 0, 0);
}
.f .pure-menu-item .pure-menu-link:hover {
    background-color:rgba(0, 0, 0, 0);
}
.f .pure-menu-heading {
    color: white;
    font-size: 22px;
}
.inf {
    text-align: left;
    padding-top: 40px;
}
.inf .pure-menu-item .pure-menu-link {
    color: white;
    font-size: 14px;
    padding: 18px 0;
    background-color:rgba(0, 0, 0, 0);
}
.inf .pure-menu-item .pure-menu-link:hover {
    background-color:rgba(0, 0, 0, 0);
}
.inf .pure-menu-heading {
    color: white;
    font-size: 22px;
}
.esp {
    text-align: right;
    padding-top: 40px;
}
.esp .pure-menu-item .pure-menu-link {
    color: white;
    font-size: 14px;
    padding: 18px 0;
    background-color:rgba(0, 0, 0, 0);
}
.esp .pure-menu-item .pure-menu-link:hover {
    background-color:rgba(0, 0, 0, 0);
}
.esp .pure-menu-heading {
    color: white;
    font-size: 22px;
}
.footer {
    background: #111;
    color: #888;
    text-align: center;
}
.footer a {
        color: #ddd;
}

.logo-img {
    width: 200px;
}
.frete {
    background-color: greenyellow;
}
.primeiro-menu {
    text-align: center;
    align-items: center;
}
.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}
#entrar {
    margin-left: 100px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
#entrar a {
    color: black;
    text-decoration: none;
}
#entrar a:visited   {
    color: black;
    text-decoration: none;
}
#entrar a:hover {
    text-decoration: underline;
}
.banner a:hover {
    text-decoration: underline;
}
.banner-1 {
    background-image: url("img\\banner1.png");
}
.banner-2 {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 70px;
    height: 320px;
    background-image: url("img\\banner2.png");
}
.banner-3 {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 70px;
    height: 320px;
    background-image: url("img\\banner3.png");
}

.menu-principal .pure-menu-link{
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 0;
    height: 20px;
    width: 100px;
}
.menu-principal .pure-menu-item{
    margin-left: 0px;
    margin-right: 0px;
}